!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1", :charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css"}
    %script{:type => 'text/javascript', :src => "/js/jquery-1.7.1.min.js"}
    %script{:type => 'text/javascript', :src => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"}
    %script{:type => 'text/javascript', :src => "/js/nicoaudio.js"}
  %body{:class => 'ui-mobile-viewport ui-overlay-c'}
    %div{:'data-role' => 'page', :id => 'playlist'}
      %div{:'data-role' => 'content'}
        %form{:name => 'player'}
          %input{:type => 'hidden', :name => 'playlist', :value => "#{@ranking.to_json}"}
        %ul{:'data-role' => 'listview', :'data-inset' => 'true'}
          - @ranking.each do |i, rank|
            %li
              %a{:href => '#pre_player', :'data-transition' => 'slide', :onclick => |
              "MyAudio.init(\'#{i}\');"}= rank['title'] |
    %div{:'data-role' => 'page', :id => 'pre'}
      %center
        %p{:id => 'pre_title'}
        %div{:id => 'pre_thumbnail_area'}
      %input{:type => 'button', :value => "next", :'data-transition' => 'slide', |
      :'data-direction' => 'reverse', :onclick => "MyAudio.pause();MyAudio.playNext();"}
      %input{:type => 'button', :value => "stop", :'data-transition' => 'slide', |
      :'data-direction' => 'reverse', :onclick => "MyAudio.pause(true);"}
      %input{:type => 'button', :value => "previous", :'data-transition' => 'slide', |
      :'data-direction' => 'reverse', :onclick => "MyAudio.pause();MyAudio.playPrevious();"}
      %label{:for => "shuffle_slider"}shuffle:
      %select{:'data-role' => 'slider', :onchange => "Playlist.shuffle();"}
        %option{:value => "off", :name => "pre_shuffle_off"}off
        %option{:value => "on", :name => "pre_shuffle_on"}on
    -# preと行き来する
    %div{:'data-role' => 'page', :id => 'post'}
      %center
        %p{:id => 'post_title'}
        %div{:id => 'post_thumbnail_area'}
      %input{:type => 'button', :value => "next", :'data-transition' => 'slide', |
      :'data-direction' => 'reverse', :onclick => "MyAudio.pause();MyAudio.playNext();"}
      %input{:type => 'button', :value => "stop", :'data-transition' => 'slide', |
      :'data-direction' => 'reverse', :onclick => "MyAudio.pause(true);"}
      %input{:type => 'button', :value => "previous", :'data-transition' => 'slide', |
      :'data-direction' => 'reverse', :onclick => "MyAudio.pause();MyAudio.playPrevious();"}
      %label{:for => "shuffle_slider"}shuffle:
      %select{:'data-role' => 'slider', :onchange => "Playlist.shuffle();"}
        %option{:value => "off", :name => "post_shuffle_off"}off
        %option{:value => "on", :name => "post_shuffle_on"}on
