!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1", :charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css"}
    %script{:type => 'text/javascript', :src => "/js/jquery-1.7.1.min.js"}
    %script{:type => 'text/javascript', :src => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"}
    %script{:type => 'text/javascript', :src => "/js/nicoaudio.js"}
  %body{:class => 'ui-mobile-viewport ui-overlay-c'}
    %div{:'data-role' => 'page', :id => 'playlist'}
      %div{:'data-role' => 'content'}
        %form{:name => 'player'}
          %input{:type => 'hidden', :name => 'playlist', :value => "#{@ranking.to_json}"}
        %ul{:'data-role' => 'listview', :'data-inset' => 'true'}
          - @ranking.each do |i, rank|
            %li
              %a{:href => '#pre_player', :'data-transition' => 'slide', :onclick => |
              "audio.init(\'#{i}\');"}= rank['title'] |
    %div{:'data-role' => 'page', :id => 'pre'}
      %p{:id => 'pre_title'}
      %input{:type => 'button', :value => "stop", :'data-transition' => 'slide', |
      :'data-direction' => 'reverse', :onclick => "audio.pause();"} |
    -# preと行き来する
    %div{:'data-role' => 'page', :id => 'post'}
      %p{:id => 'post_title'}
      %input{:type => 'button', :value => "stop", :'data-transition' => 'slide', |
      :'data-direction' => 'reverse', :onclick => "audio.pause();"} |
