!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1", :charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "/css/jquery.mobile-1.1.0.css"}
    %link{:rel => "stylesheet", :href => "/css/jqm-icon-pack-3.0.0-fa.css"}
    %script{:type => 'text/javascript', :src => "/js/jquery-1.7.1.min.js"}
    %script{:type => 'text/javascript', :src => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"}
    %script{:type => 'text/javascript', :src => "/js/nicoaudio.js"}
  %body{:class => 'ui-mobile-viewport'}
    %div{:'data-role' => 'page', :id => 'playlist'}
      %div{:'data-role' => 'header', :'data-position' => 'fixed'}
        %h3 #{@from_date} ~ #{@to_date}
      %div{:'data-role' => 'content'}
        %form{:name => 'player'}
          %input{:type => 'hidden', :name => 'playlist', :value => "#{@ranking.to_json}"}
        %ul{:'data-role' => 'listview'}
          - @ranking.each do |i, rank|
            %li
              %a{:href => '#pre_player', :'data-transition' => 'slide', :onclick => |
              "MyAudio.init(\'#{i}\');"}= rank['title'] |
    %div{:'data-role' => 'page', :id => 'pre'}
      %div{:'data-role' => 'header'}
        %h1{:id => 'pre_title'}
      %center
        %br
        %div{:id => 'pre_thumbnail_area'}
        %table
          %td
            %input{:type => 'button', :'data-transition' => 'slide', |
            :'data-icon' => 'step-backward', :'data-inline' => 'true', |
            :'data-direction' => 'reverse', :onclick => "MyAudio.pause();MyAudio.playPrevious();"}
          %td
            %input{:type => 'button', :'data-transition' => 'slide', |
            :'data-icon' => 'stop', :'data-inline' => 'true', |
            :'data-direction' => 'reverse', :onclick => "MyAudio.pause(true);"}
          %td
            %input{:type => 'button', :'data-transition' => 'slide', |
            :'data-icon' => 'step-forward', :'data-inline' => 'true', |
            :onclick => "MyAudio.pause();MyAudio.playNext();"}
      %label{:for => "shuffle_slider"}shuffle:
      %select{:'data-role' => 'slider', :onchange => "Playlist.shuffle();"}
        %option{:value => "off", :name => "pre_shuffle_off"}off
        %option{:value => "on", :name => "pre_shuffle_on"}on
    -# preと行き来する
    %div{:'data-role' => 'page', :id => 'post'}
      %div{:'data-role' => 'header'}
        %h1{:id => 'post_title'}
      %center
        %br
        %div{:id => 'post_thumbnail_area'}
        %table
          %td
            %input{:type => 'button', :'data-transition' => 'slide', |
            :'data-icon' => 'step-backward', :'data-inline' => 'true', |
            :'data-direction' => 'reverse', :onclick => "MyAudio.pause();MyAudio.playPrevious();"}
          %td
            %input{:type => 'button', :'data-transition' => 'slide', |
            :'data-icon' => 'stop', :'data-inline' => 'true', |
            :'data-direction' => 'reverse', :onclick => "MyAudio.pause(true);"}
          %td
            %input{:type => 'button', :'data-transition' => 'slide', |
            :'data-icon' => 'step-forward', :'data-inline' => 'true', |
            :onclick => "MyAudio.pause();MyAudio.playNext();"}
      %label{:for => "shuffle_slider"}shuffle:
      %select{:'data-role' => 'slider', :onchange => "Playlist.shuffle();"}
        %option{:value => "off", :name => "post_shuffle_off"}off
        %option{:value => "on", :name => "post_shuffle_on"}on
