!!! XML
!!! Strict
%html
  %head
    %script{:type => "text/javascript",  :charset => "utf-8"}
    %script{:type => "text/javascript",  :src => "js/jquery-1.7.1.min.js"}
    %script{:type => "text/javascript",  :src => "js/nicoaudio.js"}
  %body
    - @ranking.each do |video_id, title|
      %p= title
